.App {
  text-align: center;
}
header,
footer {
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  height: 250px;
}
.pokemon {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
